@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    --font-inter: var(--font-inter);
}

@theme inline {
    --marquee-duration: 25s;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee var(--marquee-duration) linear infinite;
}

.animate-marquee {
    animation-direction: reverse;
}

img {
    max-width: 100%;
    height: auto;
}

@layer utilities {
    .bg-grid-texture {
        background-color: #f5f5f5;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23000000' fill-opacity='0.12'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    }
}
